
<!DOCTYPE html>
<html>

<head>
  <title>連番を簡単に生成！！</title>
  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
  function addDarkmodeWidget() {
    new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
</script>

<style>
.example4{
    background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783,#e60000) 0 / 200%;
    animation: 5s example4 linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes example4{
    100% { background-position: 200%; }
}
</style>
</head>
<body>
<a href="/">Yuki Youtube</a>
<div class="example4"><h1>掲示板</h1></div>
新規さんへ、先ずは挨拶をしましょう。シード値は自分のidを決めるものでパスワードのようなものです。<br>今の話題に勇気を出して参加してみましょう！！！<br>
メッセージが送れない場合メッセージや名前が規制されている可能性があります。<br>
<a href="/bbs/how">使い方</a><br>

<form action="/bbs/result" method="get">
    <select name="channel" id="channel">
      <option value="main" selected>雑談</option>
      <option value="battle" >バトルスタジアム</option>
    </select>
    <br>
    <label for="article">メッセージ</label>
    <textarea name="message" rows="6" cols="100" maxlength="6000" required></textarea>
    <p></p>
    <label for="name">名前</label>
    <input type="text" name="name" value="✧*｡𝗠𝗲𝗽𝗵𝗶𝘀𝘁𝗼｡*✧" maxlength="25" required>
    <label for="seed">シード</label>
    <input type="text" name="seed" value="sdr4f23esd2323e4r5tfrf123dxcv2e4123dxgvr5trc234rgv0987654cdewrj3fjdsjijdejwdcvfreioiec@gyu1qwe1234rtgbtcd3dcrf3fr5yd5r6s4d5d123edf4322cccccrws@sdf1q2ergvcghjk@ie3d3wsz123erfc@xde11111" required>
    <button type="submit">送信する</button>
    <br>
スピーカー以上のメッセージのみ表示<input type="checkbox" id="filter" name="verify" >
<h2>投稿</h2>
</form>

<div id="messages">
</div>
<script>
  function AutoLink(str) {
  var regexp_url = /((h?)(ttps?:\/\/[a-zA-Z0-9.\-_@:/~?%&;=+#',()*!]+))/g; // ']))/;
  var regexp_makeLink = function(all, url, h, href) {
      return '<a href="h' + href + '">' + url + '</a>';
  }

  return str.replace(regexp_url, regexp_makeLink);
}
let element = document.getElementById('filter');
let channel = document.getElementById('channel')
function reloadmessages(){
  var xhr = new XMLHttpRequest();
  xhr.open("GET", "/bbs/api?channel="+channel.value+"&verify="+element.checked+"&t="+Date.now());
      xhr.onload = function () {
          if (xhr.status == 200) {
              document.getElementById('messages').innerHTML = AutoLink(xhr.responseText);
          }
      };
      xhr.send();
}
reloadmessages();
setTimeout(reloadmessages,1000)
setInterval(reloadmessages,5000);
</script>
</body>

</html>
